.nav-bar {
    font-size: 20px;
    font-family: arial;
    margin: 50px;
    
  }
  
  .nav-bar ul li a {
    text-decoration:none ;
    text-align: right;
    
  }
  /* body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  
  .nav-bar ul li {
    text-align: right;
    display: inline-block;
    margin-right: 1em;
    
  }
  
  .nav-bar ul li:hover {
    border-bottom: 2px solid gray;
    border-radius: 10%;
    padding: 10px;
    
  }
  